*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(https://images.pexels.com/photos/764293/pexels-photo-764293.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
}   

.Note{
    position: absolute;
    top: 15%;
    left: 3%;
    font-size: 30px;
    color: rgb(9, 46, 43);
}

.form1{
    position: absolute;
    top:25%;
    right: 150px;
    font-size: 30px;
    color: wheat;
    font-family: "Lora", serif;
}


.names{
    font-size: 15px;
    color: #363105;
    font-style: bold;
    font-family: "Varela Round", Arial, Helvetica, sans-serif;
}

.post{
    position: absolute;
    color: white;
    background-color: rgb(8, 99, 99);
    padding: 10px;
    width: 80px;
    right: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}